{% extends "base.html"%}

{% block body %}     

<div class="jumbotron theaddbtn">
     
    <a class="btn btn-danger btn-lg" href="{% url 'blog:edit_post' post.id %}" role="button">Edit this post</a>
  </div>
                     <div class="card single_post" >
                        <img src="{{post.img.url}}" class="card-img-top" width="300" height="500">
                        <div class="card-body">
                          <h5 class="card-title">{{post}}</h5>
                          <p class="card-text"> {{post.content}} </p>
                          
                        </div>
                      </div>
                      
                  
                   
    
                   
                      {% endblock body %}
                   
     